@model ManagementSystem.Models.CarInsurance

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>CarInsurance</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="CarInsuranceID" />
            <div class="form-group">
                <label asp-for="CarID" class="control-label"></label>
                <select asp-for="CarID" class="form-control" asp-items="ViewBag.CarID"></select>
                <span asp-validation-for="CarID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CarInsuranceDate" class="control-label"></label>
                <input asp-for="CarInsuranceDate" class="form-control" />
                <span asp-validation-for="CarInsuranceDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CarInsuranceValidUntil" class="control-label"></label>
                <input asp-for="CarInsuranceValidUntil" class="form-control" />
                <span asp-validation-for="CarInsuranceValidUntil" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CarInsuranceImagePath" class="control-label"></label>
                <input asp-for="CarInsuranceImagePath" class="form-control" />
                <span asp-validation-for="CarInsuranceImagePath" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

