@model ManagementSystem.Models.CarInspection

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>CarInspection</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CarID" class="control-label">Chọn biển số xe</label>
                <select class="form-control js-example-basic-single" asp-for="CarID" asp-items="ViewBag.CarID">
                    <option value="Chọn biển số" hidden disabled selected> Chọn biển số xe</option>
                </select>
                <span asp-validation-for="CarID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="InspectionDate" class="control-label"></label>
                <input asp-for="InspectionDate" class="form-control" />
                <span asp-validation-for="InspectionDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CarInspectionValidUntil" class="control-label"></label>
                <input asp-for="CarInspectionValidUntil" class="form-control" />
                <span asp-validation-for="CarInspectionValidUntil" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CarInspectionImagePath" class="control-label"></label>
                <input asp-for="CarInspectionImagePath" class="form-control" />
                <span asp-validation-for="CarInspectionImagePath" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

